#page1.gwd-play-animation .gwd-motion-path-7w7b-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-75px", "0px", "-75px", "0px", "-75px", "0px", "-75px", "0px"], "startTimeMs": 0, "endTimeMs": 1799.7, "easing": "linear"
    }
    , {
      "controlPoints": ["-75px", "0px", "-54.82px", "-1.85px", "-37.47px", "-0.86px", "-20px", "0px"], "startTimeMs": 1799.7, "endTimeMs": 2599.8, "easing": "cubic-bezier(0.895, 0.005, 0.145, 0.985)"
    }
    , {
      "controlPoints": ["-20px", "0px", "-20px", "0px", "-20px", "0px", "-20px", "0px"], "startTimeMs": 2599.8, "endTimeMs": 2800, "easing": "linear"
    }
    , {
      "controlPoints": ["-20px", "0px", "-20px", "0px", "-20px", "0px", "-20px", "0px"], "startTimeMs": 2800, "endTimeMs": 6000.4, "easing": "linear"
    }
    , {
      "controlPoints": ["-20px", "0px", "-20px", "0px", "-20px", "0px", "-20px", "0px"], "startTimeMs": 6000.4, "endTimeMs": 7000, "easing": "cubic-bezier(0.895, 0.005, 0.145, 0.985)"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-7w7b-keys-x 7s linear 0s 1 normal forwards;
  transform:translate3d(-75px, 0px, 0px);
}
@keyframes gwd-motion-path-7w7b-keys-x {
  0% {
    transform: translate3d(-75px, 0px, 0px);
  }
  25.71% {
    transform: translate3d(-75px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6393, 0.0022, 0.9296, 0.3453);
  }
  31.43% {
    transform: translate3d(-53.55px, 0px, 0px);
  }
  31.71% {
    transform: translate3d(-43.49px, 0px, 0px);
  }
  32% {
    transform: translate3d(-36.34px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.0957, 0.5916, 0.3783, 0.9887);
  }
  37.14% {
    transform: translate3d(-20px, 0px, 0px);
  }
  40% {
    transform: translate3d(-20px, 0px, 0px);
  }
  85.72% {
    transform: translate3d(-20px, 0px, 0px);
  }
  100% {
    transform: translate3d(-20px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-7w7b-anim-y {
  animation: gwd-motion-path-7w7b-keys-y 7s linear 0s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-7w7b-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  25.71% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.9752, 0.682, 0.9994, 1);
  }
  31.42% {
    transform: translate3d(0px, -0.9px, 0px);
  }
  37.14% {
    transform: translate3d(0px, 0px, 0px);
  }
  40% {
    transform: translate3d(0px, 0px, 0px);
  }
  85.72% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}